In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df_0 = pd.read_csv('../Data.csv',header=None,skiprows=1,sep='\t')
df_0.columns=['graph','sub_graph']

In [3]:
df_0.head()

                  graph  sub_graph
0   1010101010100000000          1
1  10010000000000000000          0
2   1010101010101010101          1
3   1010101010101010101          1
4   1010101010101010101          1

In [4]:
df_0['graph'] = [str(df_0['graph'][i]).zfill(20) for i in range(len(df_0['graph']))]
df_0['sub_graph'] = [str(df_0['sub_graph'][i]) for i in range(len(df_0['sub_graph']))]

df_0['graph']=[[int(df_0['graph'][j][i]) for i in range(len(df_0['graph'][j]))] for j in range(len(df_0['graph']))]
df_0['sub_graph']=[[int(df_0['sub_graph'][j][i]) for i in range(len(df_0['sub_graph'][j]))] for j in range(len(df_0['sub_graph']))]

In [5]:
df_0.head()

                                               graph sub_graph
0  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, ...       [1]
1  [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...       [0]
2  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]
3  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]
4  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]

In [6]:
X_train = list(df_0['graph'])
y_train = list(df_0['sub_graph'])

In [7]:
df_0_test = pd.read_csv('../Test.csv',header=None,skiprows=1,sep='\t')
df_0_test.columns=['graph','sub_graph']

In [8]:
df_0_test['graph'] = [str(df_0_test['graph'][i]).zfill(20) for i in range(len(df_0_test['graph']))]
df_0_test['sub_graph'] = [str(df_0_test['sub_graph'][i]) for i in range(len(df_0_test['sub_graph']))]

df_0_test['graph']=[[int(df_0_test['graph'][j][i]) for i in range(len(df_0['graph'][j]))] for j in range(len(df_0_test['graph']))]
df_0_test['sub_graph']=[[int(df_0_test['sub_graph'][j][i]) for i in range(len(df_0['sub_graph'][j]))] for j in range(len(df_0_test['sub_graph']))]

In [9]:
df_0_test.head()

                                               graph sub_graph
0  [1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...       [0]
1  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]
2  [0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, ...       [1]
3  [0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...       [1]
4  [1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, ...       [0]

In [10]:
X_test = list(df_0_test['graph'])
y_test = list(df_0_test['sub_graph'])

In [11]:
from sklearn.svm import SVC

In [12]:
model = SVC()

In [13]:
model.fit(X_train,y_train)

/home/galuf/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [14]:
predictions = model.predict(X_test)

In [15]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.95      0.94      0.95       175
           1       0.95      0.95      0.95       193

    accuracy                           0.95       368
   macro avg       0.95      0.95      0.95       368
weighted avg       0.95      0.95      0.95       368

In [16]:
print(confusion_matrix(y_test,predictions))
print('\n')
print(classification_report(y_test,predictions))

[[165  10]
 [  9 184]]


              precision    recall  f1-score   support

           0       0.95      0.94      0.95       175
           1       0.95      0.95      0.95       193

    accuracy                           0.95       368
   macro avg       0.95      0.95      0.95       368
weighted avg       0.95      0.95      0.95       368