In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.utils.multiclass import unique_labels
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df_0 = pd.read_csv('../Data.csv',header=None,skiprows=1,sep='\t')
df_0.columns=['graph','sub_graph']

In [3]:
df_0.head()

                                      graph  sub_graph
0  0101010101010101010101000000000000000000          1
1  1000000000000000000000000000000000000000          0
2  0100000000000000000000000000000000000000          1
3  1010101010101010100110101010000000000000          0
4  0101010101010000000000000000000000000000          1

In [4]:
df_0['graph'] = [str(df_0['graph'][i]).zfill(40) for i in range(len(df_0['graph']))]
df_0['sub_graph'] = [str(df_0['sub_graph'][i]) for i in range(len(df_0['sub_graph']))]

df_0['graph']=[[int(df_0['graph'][j][i]) for i in range(len(df_0['graph'][j]))] for j in range(len(df_0['graph']))]
df_0['sub_graph']=[[int(df_0['sub_graph'][j][i]) for i in range(len(df_0['sub_graph'][j]))] for j in range(len(df_0['sub_graph']))]

In [5]:
df_0.head()

                                               graph sub_graph
0  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]
1  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...       [0]
2  [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...       [1]
3  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, ...       [0]
4  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, ...       [1]

In [6]:
X_train = list(df_0['graph'])
y_train = list(df_0['sub_graph'])

In [7]:
df_0_test = pd.read_csv('../Test.csv',header=None,skiprows=1,sep='\t')
df_0_test.columns=['graph','sub_graph']

In [8]:
df_0_test['graph'] = [str(df_0_test['graph'][i]).zfill(40) for i in range(len(df_0_test['graph']))]
df_0_test['sub_graph'] = [str(df_0_test['sub_graph'][i]) for i in range(len(df_0_test['sub_graph']))]

df_0_test['graph']=[[int(df_0_test['graph'][j][i]) for i in range(len(df_0['graph'][j]))] for j in range(len(df_0_test['graph']))]
df_0_test['sub_graph']=[[int(df_0_test['sub_graph'][j][i]) for i in range(len(df_0['sub_graph'][j]))] for j in range(len(df_0_test['sub_graph']))]

In [9]:
df_0_test.head()

                                               graph sub_graph
0  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, ...       [1]
1  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ...       [0]
2  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, ...       [0]
3  [0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, ...       [1]
4  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]

In [10]:
X_test = list(df_0_test['graph'])
y_test = list(df_0_test['sub_graph'])

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
rfc = RandomForestClassifier(n_estimators=200)

In [13]:
rfc.fit(X_train,y_train)

/home/galuf/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
rfc_pred = rfc.predict(X_test)

In [15]:
print(confusion_matrix(y_test,rfc_pred))
print('\n')
print(classification_report(y_test,rfc_pred,digits=6))

[[174  16]
 [  2 176]]


              precision    recall  f1-score   support

           0   0.988636  0.915789  0.950820       190
           1   0.916667  0.988764  0.951351       178

    accuracy                       0.951087       368
   macro avg   0.952652  0.952277  0.951086       368
weighted avg   0.953825  0.951087  0.951077       368