In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
df_0 = pd.read_csv('../Data.csv',header=None,skiprows=1,sep='\t')
df_0.columns=['graph','sub_graph']

In [4]:
df_0.head()

                                      graph  sub_graph
0  0101010101010101010101000000000000000000          1
1  1000000000000000000000000000000000000000          0
2  0100000000000000000000000000000000000000          1
3  1010101010101010100110101010000000000000          0
4  0101010101010000000000000000000000000000          1

In [5]:
df_0['graph'] = [str(df_0['graph'][i]).zfill(40) for i in range(len(df_0['graph']))]
df_0['sub_graph'] = [str(df_0['sub_graph'][i]) for i in range(len(df_0['sub_graph']))]

df_0['graph']=[[int(df_0['graph'][j][i]) for i in range(len(df_0['graph'][j]))] for j in range(len(df_0['graph']))]
df_0['sub_graph']=[[int(df_0['sub_graph'][j][i]) for i in range(len(df_0['sub_graph'][j]))] for j in range(len(df_0['sub_graph']))]

In [6]:
df_0.head()

                                               graph sub_graph
0  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]
1  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...       [0]
2  [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...       [1]
3  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, ...       [0]
4  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, ...       [1]

In [7]:
X_train = list(df_0['graph'])
y_train = list(df_0['sub_graph'])

In [8]:
df_0_test = pd.read_csv('../Test.csv',header=None,skiprows=1,sep='\t')
df_0_test.columns=['graph','sub_graph']

In [9]:
df_0_test['graph'] = [str(df_0_test['graph'][i]).zfill(40) for i in range(len(df_0_test['graph']))]
df_0_test['sub_graph'] = [str(df_0_test['sub_graph'][i]) for i in range(len(df_0_test['sub_graph']))]

df_0_test['graph']=[[int(df_0_test['graph'][j][i]) for i in range(len(df_0['graph'][j]))] for j in range(len(df_0_test['graph']))]
df_0_test['sub_graph']=[[int(df_0_test['sub_graph'][j][i]) for i in range(len(df_0['sub_graph'][j]))] for j in range(len(df_0_test['sub_graph']))]

In [10]:
df_0_test.head()

                                               graph sub_graph
0  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, ...       [1]
1  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ...       [0]
2  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, ...       [0]
3  [0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, ...       [1]
4  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, ...       [1]

In [11]:
X_test = list(df_0_test['graph'])
y_test = list(df_0_test['sub_graph'])

In [12]:
from sklearn.neural_network import MLPClassifier

In [13]:
cls = MLPClassifier(activation='logistic',solver='lbfgs',alpha=1e-5,hidden_layer_sizes=(10,6),random_state=1)

In [14]:
cls.fit(X_train,y_train)

/home/galuf/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='logistic', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(10, 6), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [15]:
predictions = cls.predict(X_test)

In [16]:
print(classification_report(y_test, predictions,digits=6))

              precision    recall  f1-score   support

           0   0.961111  0.910526  0.935135       190
           1   0.909574  0.960674  0.934426       178

    accuracy                       0.934783       368
   macro avg   0.935343  0.935600  0.934781       368
weighted avg   0.936183  0.934783  0.934792       368

In [17]:
print(confusion_matrix(y_test,predictions))
print('\n')
print(classification_report(y_test,predictions,digits=6))

[[173  17]
 [  7 171]]


              precision    recall  f1-score   support

           0   0.961111  0.910526  0.935135       190
           1   0.909574  0.960674  0.934426       178

    accuracy                       0.934783       368
   macro avg   0.935343  0.935600  0.934781       368
weighted avg   0.936183  0.934783  0.934792       368