In [1]:
import pandas as pd

In [2]:
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
data = pd.read_csv('matriz.csv',sep='\t',header=None)

In [4]:
data.head(9)

   0                     1  2  3  4
0  1   1010101010101010101  1  1  0
1  2  10011010100110101010  0  0  0
2  3  10000000000000000000  0  0  0
3  4  10101010101010101010  0  0  0
4  5  10101010101010101010  0  0  0
5  6   1100000000000000000  0  1  1
6  7  10101010101010101010  0  0  0
7  8   1010101010101010101  1  1  0
8  9   1010000000000000000  1  1  0

In [5]:
x = list(data[2])

In [6]:
y = list(data[3])

In [7]:
print(confusion_matrix(x,y))
print('\n')
print(classification_report(x,y,digits=6))

[[162  15]
 [  5 186]]


              precision    recall  f1-score   support

           0   0.970060  0.915254  0.941860       177
           1   0.925373  0.973822  0.948980       191

    accuracy                       0.945652       368
   macro avg   0.947717  0.944538  0.945420       368
weighted avg   0.946866  0.945652  0.945555       368